{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "useTabs": false,
  "arrowParens": "always",
  "printWidth": 120,
  "bracketSpacing": true
}
